[submodule "thirdparty/incbin"]
	path = thirdparty/incbin
	url = https://github.com/graphitemaster/incbin
[submodule "thirdparty/VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "thirdparty/shaderc"]
	path = thirdparty/shaderc
	url = https://github.com/google/shaderc
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm
